@model Spice.Models.ViewModels.SubCategoryAndCategoryViewModel
@using Spice.Extensions
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="border backgroundWhite row">
    <div class="col-8 border-right">
        <form asp-action="Delete">
            <h3 class="text-dark-50">Delete Sub Category</h3>
            <br />
            <input type="hidden" asp-for="SubCategory.CategoryId" />
            <input type="hidden" asp-for="SubCategory.Id" />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCategory.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="ddlCategoryList" asp-for="SubCategory.CategoryId" disabled asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)" class="form-control">s</select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCategory.Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="SubCategory.Name" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_DeleteAndBackToListButton  " model="Model.SubCategory.Id" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 offset-1">
        @if (Model.SubCategoryList.Count() > 0)
        {
            <p>Existing SubCatgories</p>

            <div id="SubCategoryList">
                <ul class="list-group">
                </ul>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        function updateSubCategoryList() {
            var categorySelected = document.getElementById("ddlCategoryList").value;
            $list = $('#SubCategoryList');

            $.ajax({
                url: '/Admin/SubCategory/GetSubCategory/' + categorySelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append('<ul class="list-group">')
                    for (i in results) {
                        $list.append('<ul class="list-group-item">' + results[i].text + '</li>')
                    }
                    $list.append('</ul>');
                }
            })

        }

        $(document).ready(function () {
            updateSubCategoryList();
        });

    </script>

}

